@use './partials/vars.scss' as*; 
@import '@fontsource/montserrat/index.css';
@import '@fontsource/montserrat/700.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "montserrat", sans-serif;
  background-color: gray;
}

.container-all-width{
width: 100%;
}

.container {
width: 1200px;
margin: 0 auto;
}
.container-opaco{
  &::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(26, 25, 53, 0.5);
  }
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.active{
  background-color: green;
}

.active-t{
  color: green;
}

.subtitle{
  font-weight: bold;
  color: $green;
}

.br-rad{
  border-radius: 10px;
}

.big-button{
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: $greenLight;
  border: 1px solid $green;
  font-weight: bold;
  font-size: 1.1rem;
  svg{
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-left: 10px;
  }
  &:hover{
    background: none;
    color: $green;
  }
}
.play{
  color: black;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: $greenLight;
  border-radius: 50%;
  line-height: 65px;
  margin-left: 10px;
  svg{
    height: 20px;
  }
}

.buttons{
  display: flex;
}

.active{
  background-color: $greenLight !important;
}

.white{
  color: white;
}
